html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    font-family: "Roboto Mono";
}

html {
    box-sizing: border-box;
    font-weight: 200;
}

.main {
    height: 100vh;
    background-color: white;
}

h1 {
    text-align: center;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    background-color: #2f2f2f78;
    width: 100%;
    text-align: center;
}

.nav > a {
    border: 1px solid ghostwhite;

    border-radius: 4px;
    background-color: #050404;
    width: 20%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #e1ebe9;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.footer {
    background-color: #000000a1;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 0.7em;
    width: 100%;
}

.footer > p {
    text-align: right;
    padding-right: 20px;
    color: rgba(247, 250, 230, 0.49);
}

.plainRectangle {
    border: 1px solid black;
    border-radius: 0;
    padding: 3px 15px;
    margin: 3px 10%;
}

.middleBox {
    margin-top: 10%;
    verticle-align: center !important;
}

.elevator {
    margin: 15px 25px;
    border: 1px solid ghostwhite;
    background-color: #8080805e;
    padding: 0px 10px;
    border-radius: 5px;
}

.elevator > p {
    padding-top: 10px;
    padding-bottom: 5px;

}

p {
    text-align: justify;
    text-justify: inter-word;
}


